# NOTE: All paths are relative from DAQAnalyticsWebsiteMK2/backend/

# General Backend
BACKEND_PORT=
BACKEND_URL=

# Database
DATABASE_PATH=

# Storage (local or s3, if not defined, default to local)
STORAGE_TYPE=

# Local Storage (Must be defined unless STORAGE_TYPE=s3)
LOCAL_STORAGE_PATH= # defaults to DAQFiles

# AWS (only needed if STORAGE_TYPE=s3)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=

# Session
SESSION_SECRET=

# SAML
SAML_ENTRY_POINT=
SAML_CERT_PATH=
SAML_PRIVATE_KEY_PATH=
SAML_DECRYPTION_PVK_PATH=
SAML_IDP_METADATA_URL=

# URL
FRONTEND_URL=
