name: JTest

on:
  pull_request:
    branches: [ "main"]
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json
      - name: Install Backend Dependencies
        working-directory: backend
        run: npm install
      - name: Test with JTest
        working-directory: backend
        run: npm run test
      